* {
    box-sizing: border-box;
    font-family: 'Nebulica' !important;
}
@font-face {
    font-family: 'Nebulica';
    src: url('../NEBULICA/Nebulica-Regular.otf') format('woff2'), /* Modern browsers */
         url('../NEBULICA/Nebulica-Black.otf') format('woff'),   /* Fallback for older browsers */
         url('../NEBULICA/Nebulica-ExtraBold.otf') format('truetype'); /* Additional fallback */
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    overflow: hidden;
    margin: 0;
    font-family: 'Nebulica', sans-serif;
}
.containers{
    width: 90%;
    margin: auto;
}
#logoAnimation,
#animation {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100vw; 
    pointer-events: none; 
}

#animation {
    z-index: 0;
    position: relative;
}
.logo-image-down{
    position: absolute;
    bottom: 5%;
    left: 0;
    margin-left: 5%;
}
#logoAnimation {
    margin-top: 50% ;
    z-index: 10000; 
    width: 100%;
}
#animation {
    margin-top: 50%;
}
.logo-image-down {
    transition: opacity 1s ease-in; 
}

/* Fade-in animation */
.logo-image-down.fade-in {
    display: block;
    opacity: 1;
}

.content {
    opacity:1;
    height: 90vh;
    z-index: 10;
    top: 5%;
    left: 1%;
    position: fixed;
    width: 98vw;
    background-color: rgba(128, 128, 128, 0.279);
    border-radius: 20px;
    border: 2px solid #FFFFFF1A;  
    background-image:  url('../images/output-onlinepngtools\ 1.png');
    background-position: center;
    background-size: cover;
}

.container {
    opacity:0;
    transition: opacity 3s ease-in-out;
}

.hidden {
    opacity: 0; 
}

.fade-in {
    opacity: 1; 
}

.btn2 {
    font-family: 'Nebulica';
    src: url('../NEBULICA/Nebulica-Regular.otf') format('woff2');
    font-weight:500;
    cursor: pointer;
    background-color: black;
    color: #ffffff;
    border-radius: 54649px;
    font-size: 14px; 
    position: absolute;
    top: 9%;
    left:60%;
    padding: 10px 20px;
    border: none;
}

.contaner {
    float: left;
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 10;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #2475dc;
    margin: 6px 0;
    transition: 0.4s;
}
.baar{
    width: 25px;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-60deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.clear {
    clear: both;
}

.text {
    src: url('../NEBULICA/Nebulica-Regular.otf') format('woff2');
    font-weight:150;
    font-size: 14px;
    color: #ffffff;
    margin-left: 5%;
    margin-top: 42% ;
}

.button2 {
    display: flex;
    position: relative;

}
.button2 img{
    width: 20px;
    position: absolute;
    top: 8px;
    left: 36%;

    z-index: 10;
}
.btn {
    margin-left: 5%;
    padding: 8px 20px; 
    width: 40%;
    border-radius: 50px; 
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #897BB2;
    font-size: 14px;
    cursor: pointer;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}
.btn:hover {
    background-color:#897BB2;
}

/* Side Menu */
.side-menu {
    position: fixed;
    top: 0;
    left: -260px;
    width: 250px;
    height: 100vh;
    background-color: #2474dc3d;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    z-index: 20;
    padding: 20px
}

.side-menu.show {
    left: 0;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin: 20px 0;
}

.side-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
.btn a{
    text-decoration: none;
    color: #fff;
}
/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 15;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto; /* Make the overlay clickable */
}


#logoImage {
    opacity: 0;
    position: absolute;
    bottom: 10%;
    left: 5%;
    transition: opacity 1s ease-in-out;
    visibility: hidden;
}

.show-logo-image #logoAnimation {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.show-logo-image #logoImage {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out, visibility 0s;
}
.logo-image-down img{
    width: 50%;
}
@media (min-width: 500px) {
    .btn {
        width: 28%;
    }
    .button2 img{
        top: 8px;
        left: 26%;
    }
}
@media (min-width: 768px) { 

    .bar3 {
        width: 40px;
    }
    .bar1{
        width: 30px;
    }
    .text{
        font-size: 30px;
    }
    .btn2{
        font-size: 18px; 
        left:70%;
        padding: 15px 30px;
    }
    .button2 img{
        top: 8px;
        left: 20%;
    }
    .btn {  
        padding: 8px 20px; 
        width: 20%;
    }
    .text {
        margin-top: 30% ;
    }
    #animation {
        margin-top: 35%;
    }
    #logoImage{
        width: 80%;
    }
    #logoAnimation{
        margin-top: 40%;
    }

            .logo-image-down img{
            width: 50%;
        }
}
    @media (min-width: 1024px) { 
        .btn2{
            left: 80%;
        }
        .text{
            margin-top: 10%;
            font-size: 26px;
        }
        #logoAnimation{
            margin-top: -4%;
        }
        #animation {
            margin-top: 0%;
        }
        #logoImage{
            width: auto;
        }
        .btn{
            padding: 8px 30px; 
            width: 15%;
            font-size: 18px;
        }
        .button2 img{
            left: 17%;
            top: 11px;
        }
        .logo-image-down{
            position: absolute;
            bottom: 5%;
            left: 0;
            margin-left: 5%;
        }
    }
    @media (min-width:1600px){
        .text{
            margin-top: 13%;
        }
        #logoAnimation{
            margin-top: 0%;
        }
        .btn {
            width: 12%;
        }
        .button2 img{
            top: 10px;
            left: 14%;
        }
    }
    
